<section class="form-section">
    <app-ingrediente-form></app-ingrediente-form>
    <app-receita-form></app-receita-form>
</section>
<section class="header-section">
    <h1>Food App</h1>
</section>
<section class="recipe-section">
    <app-receitas></app-receitas>
    <app-button
    class="button"
    btn-text="Nova Receita"
    (buttonClick)="OnButtonClick('Nova Receita')">
    </app-button>
</section>
<section class="ingredient-section">
    <app-ingredientes></app-ingredientes>
    <app-button
    class="button"
    btn-text="Novo Ingrediente"
    (buttonClick)="OnButtonClick('Novo Ingrediente')">
    </app-button>
</section>