.card-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 30px;
    width: fit-content;
    margin: auto;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transform: translateX(13%);
    overflow-x: auto;
    overflow-y: hidden;
}