@if(formVisible) {
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeForm()">&times;</span>
      <form class="form-container" #form="ngForm">
        <h2 class="form-title">
          {{ formType === 'create' ? 'Nova Receita' : 'Editar Receita' }}
        </h2>
      
        <input
          class="input-field"
          type="text"
          name="titulo"
          [(ngModel)]="formData.titulo"
          required
        />

        <input
          class="large-input-field"
          type="text"
          name="descricao"
          [(ngModel)]="formData.descricao"
          required
        />
      
        <h3 class="input-name">Ingredientes</h3>
        <app-ingredientes
          [form-selection]="true"
          [selectedIngredients]="formData.idIngredientes"
          (ingredientesSelecionados)="onIngredientesSelecionados($event)"
        ></app-ingredientes>
        
        <app-button
          class="form-button"
          btn-text="Salvar"
          (buttonClick)="OnSubmit()"
        ></app-button>
      </form>
    </div>
  </div>
}