<div class="card-container">
    <app-card card-title="Ingrediente 1" [variant]="'ingrediente'"></app-card>
    <app-card card-title="Ingrediente 2" [variant]="'ingrediente'"></app-card>
    <app-card card-title="Ingrediente 3" [variant]="'ingrediente'"></app-card>
    <app-card card-title="Ingrediente 4" [variant]="'ingrediente'"></app-card>
    <app-card card-title="Ingrediente 5" [variant]="'ingrediente'"></app-card>
    <app-card card-title="Ingrediente 6" [variant]="'ingrediente'"></app-card>
</div>